
<!DOCTYPE html>
<html>
  <%- include ../partials/header.ejs %>   
  
  <body class="d-flex flex-column h-1000 mb-5" style="background-color: rgb(18, 18, 19);" >
    <header>      
      <%- include ../partials/main_nav.ejs %>
    </header>
    <main class="flex-shrink-0">
      <div class="container mt-4 mb-2" style="box-shadow: 1px 1px 5px 3px rgb(41 55 74); background-color: rgb(33 32 32);">
        <div class="row" style="height: 100%;" >

  <!-- Main Content -->
        <div class="col-md-12">
        <div class="col-md-12">
            <br><br>
         <h1 class="h1 text-white text-center"><i class="fas fa-id-card"></i> <t></t><%= title %></h1><br>
    </div><br>
    <div class="col-md-12 ">
         <div class="row">
               
  <main class="container text-white">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <!-- <h1><%= title %></h1> -->

            <a href="/list/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Add Tournament</a>
            
            <br><br>
            <table border="2">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-3" >Name</th>
                    <th class="text-center col-2">StartDate</th>
                    <th class="text-center col-3 ">Location</th>
                    <th class="text-center col-3 ">EntryFee</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                </tr>

                <!-- Repeatable Template Row -->

                    <!-- Template Row -->
                    <% for (let count = 0; count < TournamentList.length; count++) { %>
                    <tr class="d-flex">
                      <td class="text-center col-3" ><%= TournamentList[count].Name %></td>
                      <td class="text-center col-2"><%= TournamentList[count].StartDate %></td>
                      <td class="text-center col-3"><%= TournamentList[count].Location %></td>
                      <td class="text-center col-3"><%= TournamentList[count].EntryFee %></td>
                      <td class="text-center col-1">
                        <a href="/list/edit/<%= TournamentList[count]._id %>" class="btn btn-primary btn-sm">
                          <i class="fas fa-pencil-alt">Edit</i>
                          </a>
                        
                      </td>
    
                      <td class="text-center col-1">
                        <a href="/list/delete/<%= TournamentList[count]._id %>" class="btn btn-danger btn-sm">
                          <i class="fas fa-trash-alt"></i> Delete</a>
                       
                      </td>
                    </tr>
                    <% } %>
                 
            </table>
            <br>
            <br>
        </div>
    </div>
  </main>
              
         </div>
    </div>
</div>
</div>
</div>
</main>
</body>
<footer class="footer mt-auto py-2 fixed-bottom" style="background-color: rgb(19, 67, 170);">
<% include ../partials/footer.ejs %>
<% include ../partials/bottom_nav.ejs %>

</footer>
</html>
