<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>    
<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>  

<main class="container">
<div class="row">
    <h1><%= title%></h1>

    <form class="form" method="POST">
        <div class="form-group">
          <label for="nameTextField">Name</label>
          <input type="text" class="form-control" id="nameTextField"  placeholder="Enter Your Name"
          name="name" required>
        </div>

        <div class="form-group">
          <label for="priceTextField">Start Date</label>
          <input type="text" class="form-control" id="startTextField"  placeholder="Enter Your Start Date"
          name="startdate" required>
        </div>

        <div class="form-group">
            <label for="emailTextField">Location</label>
            <input type="text" class="form-control" id="locationTextField"  placeholder="Enter Your Location"
            name="location" required>
          </div>

          <div class="form-group">
            <label for="DescriptionTextField">Entry Fee</label>
            <input type="text" class="form-control" id="feeTextField"  placeholder="Enter Your Entry Fee"
            name="entryfee" required>
          </div>
  
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/tournament-list" class="btn btn-warning">Cancel</a>
      </form>

</div>

</main>